<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Defining feature:</strong>
  <%= @person.defining_feature %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @person.friend %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
